p
{
text-align: center
width: 900px;
height: auto;
border: 10px solid black;
padding: 10px;
background: white;
}
body
{ text-align: center
}
h1
{
font-family: Georgia, "Times New Roman", serif;
font-size: 30px;
color: black;
font-style: italic;
font-weight: bold;
}
h2
{
font-family: "Lucida Console", Monaco, monospace;
font-size: 20px;
color: teal;
}
p, li
{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
em
{
text-decoration: underline;
font-style: normal;
}
strong
{
font-weight: bold;
color: red;
}
li
{
list-style-type: square;
}
a
{
color: green;
text-decoration: none;
}
a:hover
{
background-color: black;
color: white;
}
img
{
width: 450px;
height: auto;
border-style: dashed;
border-width: 2px;
border-color: navy;
padding: 10px;
}
body
{
	background-image: url(1.jpg);
	background-color: #c0c0c0;	
}
